#content {
  margin-top:70px;
  margin-bottom:100px;
}

#userGif {
  /*min-height:300px;*/
  border:none;
  margin-bottom:20px;
}

#randomGif {
  height:50px;
  width:300px;
  margin:5px auto;
  display:inline;
}


#shareInput, .share {
  width:300px;
  display:inline;
  margin:0 6px;
}

iframe {
  border:0;
}

button {
  width:200px;
  margin-top:5px;
  display:inline;
}